.container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: s;
	flex-wrap: wrap;
}

.card {
	width: 15rem;
	height: 24rem;
	background-color: #ffffff;

	box-shadow: 1px 1px 10px 1px gray;
	border-radius: 1.2rem 1.2rem;
	position: relative;
	margin-top: 1rem;
}
.header__img {
	width: 100%;
	height: 40%;
	border-radius: 1.2rem 1.2rem 0 0;
	position: relative;
}

.header__img img {
	border-radius: 1.2rem 1.2rem 0 0;
}
.header__img i {
	position: absolute;
	right: 20px;
	top: 20px;
	color: white;
	font-size: 12px;
}
.card__body {
	width: 100%;
	height: 60%;
	background-color: ;
	position: absolute;
	top: 25%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card__body img {
	height: 7rem;
	width: 7rem;
	border-radius: 50%;
}
.card__info {
	width: 100%;
	height: 60%;
	text-align: center;
	margin-bottom: 10px;
	padding: 10px;
}
.Poerson__location {
	font-size: 10px;
}
.Poerson__job {
	font-size: 15px;
}
.Poerson__about {
	font-size: 11px;
	padding: 10px;
	margin-bottom: 20px;
}
.socials {
	height: 15%;
	width: 100%;
	position: absolute;
	bottom: -40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.socials i {
	font-size: 2rem;
	color: #cccfe5;
}
